[submodule "private/meteor"]
	path = private/meteor
	url = git@github.com:zol/meteor.git
	branch = ssr-hooks
[submodule "packages/react"]
	path = packages/react
	url = https://github.com/tmeasday/react-meteor
